.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: 0 2rem 6rem rgba(#000000, 0.3);

  min-height: 50rem;
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-1);
    display: flex;
}

.content {
    display: flex;
    height: 80vh;
    align-items: stretch;
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;
}

.hotel-view {
    background-color: #fff;
    background-color: orangered;

    flex: 1;
}
